
<div class="home">

	<div class="row bckgrd-img">
		<div class="row-search">
			
			<div class="col-sm-12 search-form clearfix">
				<h2 class="search-title">All Your Favorite Acts In One Place</h2>
				<div class="flash-msg">
					<% if flash[:nothing] %>
						<%= flash[:nothing] %>
					<% end %>
				</div>
				<%= form_tag("/search/results", method: "get") do %>
					<div class="form-tag">
					  <%= label_tag(:event, "Event") %><br>
					  <%= search_field_tag(:event) %>
					</div>
					<div class="form-tag">
					  <%= label_tag(:artist, "Artists") %><br>
					  <%= search_field_tag(:artist) %>
					  <p class="label-text">Separate by commas</p>
					</div>

					<div class="form-tag">
					  <%= label_tag(:date, "Date") %><br>
					  <%= date_field_tag(:date) %>
					</div>

					<div class="form-tag">
					  <%= label_tag(:city, "City") %><br>
					  <%= search_field_tag(:city) %>
					</div>

					<div class="form-tag">
					  <%= label_tag(:venue, "Venue") %><br>
					  <%= search_field_tag(:venue) %>
					</div>

					<div class="form-btns">
					  <%= submit_tag("Search", :class => "btn-default btn") %>
					  <%= button_to("Reset", home_path, :class => "btn-default btn") %>
					</div>
				<% end %>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6">
			<h3>Today's Events</h3>
			<ul class="js-today today">
				<p>No events for today.</p>
			</ul>
		</div>

		<div class="col-sm-6">
			<h3>What's Coming Up</h3>
			<ul class="js-30days month">
				<p>No events for the next 30 days.</p>
			</ul>
		</div>
	</div>







</div>



















