<h1>NEW EVENT CREATION PAGE</h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h2><%= @event.title %></h2>


<p><%= @event.artist %></p>
<p><%= @event.description %></p>
<p><%= @event.date %></p>
<p><%= @event.time.strftime('%I:%M %p') %></p>
<p><%= @event.venue %></p>
<p><%= @event.city %></p>
<p>Purchase Tickets Here: <a href=http://<%= @event.ticket %> target="_blank"><%= @event.ticket %></a></p>



