<!DOCTYPE html>
<html>
<head>
  <title>ElectricShow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//fonts.googleapis.com/css?family=Codystar" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body class="">


<div class="container-fluid">



	<header class="clearfix">
		<nav class="navbar-bar navbar-fixed-top">
			<p class="navbar-text pull-left title-logo">
			 	<%= link_to 'PLURvents', home_path, :class => 'navbar-link' %>
			</p>

			<% if user_signed_in? %>
				<p class="navbar-text pull-right navbar-links">
					<%= link_to 'Hello ' +current_user.user_name+ '!', user_page_path(current_user.id), :class => 'hello-user' %>
					<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link, edit-profile' %>
					<%= link_to 'View Profile', user_page_path(current_user.id) %>
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
				</p>
			<% else %>
				<p class="navbar-text pull-right navbar-links">
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				</p>
			<% end %>
		</nav>
	</header>


	<main>
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
	
		<%= yield %>
	</main>


	<footer class="row footer-container">
		<div class="col-sm-12 footer"></div>
	</footer>


</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
